USE [master]
GO
/****** Object:  Database [Autos]    Script Date: 24/06/2020 17:23:13 ******/
CREATE DATABASE [Autos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Autos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Autos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Autos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Autos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Autos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Autos]
GO
USE [Autos]
GO
/****** Object:  Table [dbo].[Autos]    Script Date: 24/06/2020 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autos](
	[idAuto] [int] IDENTITY(1,1) NOT NULL,
	[patente] [varchar](12) NULL,
	[idMarcas] [int] NULL,
	[promocion] [bit] NULL,
	[precio] [real] NULL,
	[km] [int] NULL,
 CONSTRAINT [pk_idauto] PRIMARY KEY CLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 24/06/2020 17:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[idMarcas] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMarcas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autos] ON 

INSERT [dbo].[Autos] ([idAuto], [patente], [idMarcas], [promocion], [precio], [km]) VALUES (1, N'bzv389', 4, 1, 150, NULL)
SET IDENTITY_INSERT [dbo].[Autos] OFF
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([idMarcas], [nombre]) VALUES (1, N'Peugeot 208')
INSERT [dbo].[Marcas] ([idMarcas], [nombre]) VALUES (2, N'Renault Clio')
INSERT [dbo].[Marcas] ([idMarcas], [nombre]) VALUES (3, N'VW Vento')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD  CONSTRAINT [fk_marcas] FOREIGN KEY([idMarcas])
REFERENCES [dbo].[Marcas] ([idMarcas])
GO
ALTER TABLE [dbo].[Autos] CHECK CONSTRAINT [fk_marcas]
GO
USE [master]
GO
