@using Auto.Models

@{
    ViewBag.Title = "Alta";
}

<!DOCTYPE html>
<html>
<head>
    <title>Alta</title>
</head>
<body>
    <h1>Alta</h1>
    <hr />
    <form action="/Home/Alta" method="post">
        <p>Seleccione un Auto: <select name="idMarca">
            @foreach (Marcas m in Model)
            {
                <option value="@m.IdMarca">@m.Nombre</option>
            }
                                                        
                               </select>
        </p>
        <p>Ingrese patente: <input type="text" name="patente"  /></p>
        <p>Cantidad de Kilomometros: <input type="number" name="km"  /></p>
        <p>Descuento del 10%</p>
        <p>Si <input type="checkbox" name="promocion" checked /></p>
        <p>Precio: <input type="number" name="precio" /></p>
        <p><input type="submit"  value="Cargar" /></p>
    </form>
</body>
</html>


